<div>
<table> 
<% @recipes.each do |recipe| %>
  <tr colspan=2><th><%= recipe.recipe_name %></th></tr>
  <% recipe.ingredients.each do |ingredient| %>
    <tr><td><%= ingredient.quantity %></td><td><%= ingredient.ingredient_name %></td>
  <% end %>
  <% recipe.directions.order("ordinality ASC").each do |direction| %>
    <tr><td colspan=2><%= direction.ordinality %>:  <%= direction.body %></td></tr>
  <% end %>
<br>
<% end %>
</table>
</div>
